{% extends 'base.html' %}

{% block title %} SMART GO APP {% endblock %}

{% block body %}
<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<div class="content">
			<div class="inner">
				<h1>New Contact Added</h1>
				<p><a href="{{ url_for('menu')}}">BACK</a></p>
			</div>
		</div>

	</header>

<!-- Main -->
	<div id="main">



	</div>

	
		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Untitled. Design: <a href="elishabere.netify.com">KINGBERE</a>.</p>
			</footer>

	</div>


{% endblock %}
