{% extends 'base.html' %}

{% block title %} SMART GO APP {% endblock %}

{% block body %}
<!-- Wrapper -->
<div id="wrapper">



		<!-- Main -->
			<div id="main">

							<!-- Contact -->
							<article id="contact">
									<h2 class="major">Contact Us</h2>
									<p>Tell us about yor company and how you intend to use the bulk sms service</p>
									<form method="post" action=" {{ url_for('contact_us')}}">
										<div class="fields">
											<div class="field half">
												<label for="name">Company Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="4"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								
								</article>

				
			</div>

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Untitled. Design: <a href="https://elishabere.netlify.com" target="_blank">KINGBERE</a>.</p>
			</footer>

	</div>


{% endblock %}
