{% extends 'base.html' %}

{% block title %} SMART GO APP {% endblock %}

{% block body %}
<!-- Wrapper -->
<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<div class="logo">
					<i class="icon fa-instagram"></i>
				</div>
				<div class="content">
					<div class="inner">
						<h1>Welcome!</h1>
						<p>A fully functioning bulk sms broadcast web app by Elisha Bere</p>
					</div>
				</div>
				<nav>
					<ul>
						<li><a href="#register">History</a></li> 
						<li><a href="#bulk">Bulk</a></li>
						<li><a href="#sendone">Send Text</a></li>
						<li><a href="#addreciep">Add Contact</a></li>
						<li><a href="#contacts">Update Profile</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<article id="register">
						<h2 class="major">ADD NEW USER</h2>
					
							<!-- Signup  -->
							<form method="post" action="{{ url_for('add_user')}}" >
									<input type="email" name="email" id="email" placeholder="Email Address" required  />
									<input  required type="text" name="name" id="name" placeholder="Org Name" style="margin-top:10px;" />
									<input  required type="text" name="tel" id="tel" placeholder="Cell number" style="margin-top:10px;"  />
									<input  required type="password" name="password" id="password" placeholder="Paassword" style="margin-top:10px;"  />
								</br>
									<button type="submit"> ADD </button>
							</form>
							
					</article>


						<article id="users">
								<h4>Ordered USERS</h4>
								<ol>
									{% for user in users %}
									<li>{{user.name}}</li>
									{% endfor %}
								</ol>
						</article>

				<!-- Work -->
					<article id="bulk">
							<h2 class="major">Bulk Upload</h2>

							<form method="post" action=" ">
								<div class="fields">
							<div class="field half">
									<label for="demo-email">Csv with CellNumbers</label>
									<input type="file" name="fileToUpload" id="fileToUpload">
							</div>

							<div class="field half">
									<label for="demo-name">Group</label>
								<select name="demo-category" id="demo-category">
									<option value="">-</option>
									<option value="1">Manufacturing</option>
									<option value="1">Shipping</option>
									<option value="1">Administration</option>
									<option value="1">All Employees</option>
								</select>
							</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="UPLOAD" class="primary" /></li>
								</ul>
							</form>
							
					</article>

					<article id="addreciep">
						<h2 class="major">Add Recipient</h2>

						<form method="post"  action=" {{ url_for('add_reciep')}}"> 
							<div class="fields">
									<div class="field half">
											<label for="demo-email">Cell Number</label>
											<input type="text" name="tel" id="tel" placeholder="cell number" style="height:50px"  required />
										</div>
								<div class="field half">
									<label for="demo-name">Full Name</label>
									<input  required type="text" name="name" id="name" value="" placeholder="fullname" style="height:50px; widows: 300px;"  />
								</div>
								<div class="field half">
									<label for="demo-email">Email</label>
									<input  required type="email" name="email" id="demo-email" value="" placeholder="" style="height:50px" />
								</div>
					<!--	<div class="field half">
								<label for="demo-name">Belongs to</label>
							<select name="group" id="org_group">

								{% for user in users %}
								<option value="1">{{user.name}}</option>
								{% endfor %}

							</select>
						</div> -->
							</div>
							<ul class="actions">
								<li><input type="submit" value="ADD CONTACT" class="primary" /></li>
							</ul>
						</form>
						
					</article>

				<!-- About -->
					<article id="sendone">
						
						<section>
							<form method="post" action=" {{ url_for('sendmessage')}}">
								<div class="fields">
										<div class="field half">
												<label for="demo-email">Recipient</label>
												<input  required type="tel" name="reciever" id="demo-email" value="" placeholder="" style="height:50px" />
											</div>
									<div class="field half">
										<label for="demo-name">Org Name</label>
										<input type="text"  required name="org_name" id="name" value="" placeholder="" style="height:50px; widows: 300px;"  />
									</div>
									
									
											<div class="field">
													<label for="message">Message</label>
													<textarea  required name="message" id="message" rows="4"></textarea>
											</div>
									
								</div>
								<ul class="actions">
									<li><input type="submit" value="BROADCAST MESSAGE" class="primary" /></li>
								</ul>
							</form>
					</article>

				<!-- Contact -->
					<article id="bulk">
						<h2 class="major">BULK BROADCAST</h2>
						<form method="post" action=" {{ url_for('bulksend')}}">
							<div class="fields">
								<div class="field half">
									<label for="name">  Org Name</label>
									<input type="text" name="name" id="name"  required />
								</div>
								<div class="field">
									<label for="demo-category">Recipient Group</label>
									<select name="group" id="demo-category"  required>
										<option value="1">All Employees</option>
										<option value="">Manufacturing</option>
										<option value="">Shipping</option>
										<option value="">Administration</option>
										
									</select>
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"  required></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Send Message" class="primary"   /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</form>
					
					</article>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Untitled. Design: <a href="elishabere.netlify.com">KINGBERE</a>.</p>
			</footer>

	</div>


{% endblock %}
