{% extends 'base.html' %}

{% block title %} Bulky Login {% endblock %}

{% block body %}
<!-- Wrapper -->
<div id="wrapper">

		<!-- Header -->
			<header id="header">
					
				<article id="login">
						<h2 class="major">LogIn</h2>
					
							<!-- Signup Form -->
							<form id="signup-form" method="POST" action=" {{ url_for('login')}}">
									<input type="email" name="email" id="email" placeholder="Email Address" required  />
									<input  required type="password" name="password" id="password" placeholder="Paassword" style="margin-top:10px;"/>
								</br>
									<button type="submit"> LogIn</button>
									
							</form>
							<a href="#contact" >Please Contact Elisha if you wish to use service</a>
							
					</article>
			</header>

		<!-- Main -->
			<div id="main">

							<!-- Contact -->
							<article id="contact">
									<h2 class="major">Contact Us</h2>
									<p>Tell us about yor company and how you intend to use the bulk sms service</p>
									<form method="post" action=" {{ url_for('contact_us')}}">
										<div class="fields">
											<div class="field half">
												<label for="name">Company Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="4"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								
								</article>

				
			</div>

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Untitled. Design: <a href="https://elishabere.netlify.com" target="_blank">KINGBERE</a>.</p>
			</footer>

	</div>


{% endblock %}
