{% extends 'base.html' %}

{% block title %} SMART GO APP {% endblock %}

{% block body %}
<!-- Wrapper -->
<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<article id="register">
					<h2 class="major">Register</h2>
				
			

			</header>

		<!-- Main -->
			<div id="main">

				
			</div>

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; Untitled. Design: <a href="https://elishabere.netlify.com" target="_blank">KINGBERE</a>.</p>
			</footer>

	</div>


{% endblock %}
